body {
  background-color: darkslategray; /*Altera a cor de fundo da página */
  color: lightgray; /*Altera a cor dos textos */
}

header {
  display: flex;
  justify-content: space-between;
}

.links-navs ul {
  display: flex;
}

.links-navs ul li {
  margin-left: 8px;
}

.links-navs ul li::marker {
  color: transparent;
}

footer {
  display: flex;
  justify-content: center;
}